# Remaining Matchups

In [52]:
import itertools
import pandas as pd
import numpy as np

In [53]:
# Get players and completed matchups:
players = pd.read_csv("Players.csv", header=None)
players = players.values[:,0]  # get names as numpy array instead of dataframe

comp_mus = pd.read_csv("Completed Matchups/20-07-18.csv", sep="\t",
                       names=["timestamp", "p1", "p2", "winner", "point diff", "hole num"])
display(comp_mus)
len(comp_mus)

   timestamp       p1     p2   winner  point diff  hole num
0   09/06/20    Louis   Levi     Levi           6       9.0
1   17/06/20      Amy    Ben      Ben           9       2.0
2   17/06/20      Ben  Ellie      Ben          24       3.0
3   17/06/20      Ben   Levi      Ben           8       3.0
4   17/06/20      Ben  Louis      Ben           6       3.0
5   17/06/20      Ben    Max      Ben           1       3.0
6   17/06/20      Ben   Will      Ben          12       3.0
7   26/06/20      Ben     Mo       Mo           2       NaN
8   03/07/20  Matthew    Ben      Ben           7       NaN
9   08/07/20    Louis    Amy      Amy           3       5.0
10  08/07/20  Matthew  Louis  Matthew          26      14.0
11  08/07/20      Amy    Max      Max          12       5.0
12  08/07/20    Louis    Max      Max          15       5.0
13  08/07/20  Matthew    Max      Max           1       5.0
14  16/07/20  Matthew    Amy  Matthew          22      11.0
15  16/07/20       Mo    Amy       Mo          17       6.0
16  16/07/20      Amy  Ellie    Ellie           4       6.0
17  16/07/20  Matthew  Ellie  Matthew           7       6.0
18  16/07/20       Mo  Ellie       Mo          13       6.0
19  16/07/20      Amy   Levi     Levi          12       6.0
20  16/07/20    Ellie   Levi     Levi           8       6.0
21  16/07/20  Matthew   Levi  Matthew           5      15.0
22  16/07/20       Mo   Levi       Mo           5       6.0
23  16/07/20  Matthew     Mo       Mo           6       6.0

24

In [54]:
# Get all matchups
all_matchups = tuple(itertools.combinations(players, 2))
all_matchups = ([x for x in all_matchups])  # converts 2D nested tuples to 1D list of tuples
len(all_matchups)

45

In [55]:
# Creates and returns a DataFrame of the remaining matchups yet to be played, from given completed matchups DataFrame:
def gen_rem_matchups(comp_mus):
    # Init mask of True values, used to filter out complete matchups:
    matchup_mask = np.full(len(all_matchups), True, dtype=bool)

    # Create mask of all matchups already completed:
    for i, row in comp_mus.iterrows():
        # Find index of current matchup in all matchups:
        # (avoids ValueError upon element not existing in lookup list)
        # (the combination of players will always be found in one of the two index checks)
        try:
            ind = all_matchups.index((row["p1"], row["p2"]))
        except ValueError:
            ind = all_matchups.index((row["p2"], row["p1"]))

        matchup_mask[ind] = False  # filter out current completed mu

    # Apply mask:
    rem_matchups = pd.DataFrame(np.array(all_matchups)[matchup_mask], columns=["p1", "p2"])
    
    # (Invert mask to prove that the mask extracts all complete matchups)
    # display(pd.DataFrame(rem_matchups[np.invert(matchup_mask)]))
    
    return rem_matchups

In [56]:
# Returns list of players required to complete the remaining matchups:
def get_required_players(rem_mus):
    req_players = list(np.unique(np.concatenate((rem_mus["p1"].unique(), rem_mus["p2"].unique()))))
    return req_players

In [57]:
# Get remaining matchups:
rem_mus = gen_rem_matchups(comp_mus)
display(rem_mus)
len(rem_mus)

         p1     p2
0   Matthew    Ali
1   Matthew   Will
2       Ben    Ali
3       Amy    Ali
4       Amy   Will
5        Mo    Ali
6        Mo   Will
7        Mo  Louis
8        Mo    Max
9       Ali   Levi
10      Ali   Will
11      Ali  Louis
12      Ali  Ellie
13      Ali    Max
14     Levi   Will
15     Levi    Max
16     Will  Louis
17     Will  Ellie
18     Will    Max
19    Louis  Ellie
20    Ellie    Max

21

In [58]:
# Get required players:
get_required_players(rem_mus)

['Ali', 'Amy', 'Ben', 'Ellie', 'Levi', 'Louis', 'Matthew', 'Max', 'Mo', 'Will']

In [59]:
removed_players = ["Ali", "Will"]
alt_rem_mus = rem_mus.copy()

for name in removed_players:
#     alt_rem_mus = rem_mus[(rem_mus["p1"]!=(name)) & (rem_mus["p2"]!=(name))]
    alt_rem_mus = alt_rem_mus[(alt_rem_mus["p1"]!=(name)) & (alt_rem_mus["p2"]!=(name))]
    display(alt_rem_mus)
    print(get_required_players(alt_rem_mus))
len(alt_rem_mus)

         p1     p2
1   Matthew   Will
4       Amy   Will
6        Mo   Will
7        Mo  Louis
8        Mo    Max
14     Levi   Will
15     Levi    Max
16     Will  Louis
17     Will  Ellie
18     Will    Max
19    Louis  Ellie
20    Ellie    Max

['Amy', 'Ellie', 'Levi', 'Louis', 'Matthew', 'Max', 'Mo', 'Will']

       p1     p2
7      Mo  Louis
8      Mo    Max
15   Levi    Max
19  Louis  Ellie
20  Ellie    Max

['Ellie', 'Levi', 'Louis', 'Max', 'Mo']

5

# Counting Chaos

In [60]:
# Counting all Chaos matchups:
chaos_mus = pd.read_csv("Chaos Inputs.csv", sep="\t")
chaos_mus = chaos_mus[["p1", "p2"]]
len(chaos_mus)

36

In [61]:
# Remove matchups which are already counted (i.e. Ben's matches)
# (Note: duplicate matchups may exist, but it doesn't matter because the mask will be applied correctly regardless)
chaos_mus_a = chaos_mus[(chaos_mus["p1"]!="Ben") & (chaos_mus["p2"] !="Ben")]
display(chaos_mus_a)
len(chaos_mus_a)

         p1       p2
1       Amy    Ellie
2       Amy     Levi
3       Amy    Louis
4       Amy  Matthew
5       Amy      Max
6       Amy       Mo
7       Amy     Will
15    Ellie     Levi
16    Ellie    Louis
17    Ellie  Matthew
18    Ellie      Max
19    Ellie       Mo
20    Ellie     Will
21     Levi    Louis
22     Levi  Matthew
23     Levi      Max
24     Levi       Mo
25     Levi     Will
26    Louis  Matthew
27    Louis      Max
28    Louis       Mo
29    Louis     Will
30  Matthew      Max
31  Matthew       Mo
32  Matthew     Will
33      Max       Mo
34      Max     Will
35       Mo     Will

28

In [62]:
# Concatenate completed matchups with chaos matchups:
ext_comp_mus = pd.concat([comp_mus, chaos_mus_a])
# display(ext_comp_mus)
len(ext_comp_mus)

C:\Users\Mateo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

52

## Remaining matchups if Chaos is counted:

In [63]:
# Find remaining matchups if Chaos was counted:
chaos_rem_mus = pd.DataFrame(gen_rem_matchups(ext_comp_mus))
display(chaos_rem_mus)
len(chaos_rem_mus)

        p1     p2
0  Matthew    Ali
1      Ben    Ali
2      Amy    Ali
3       Mo    Ali
4      Ali   Levi
5      Ali   Will
6      Ali  Louis
7      Ali  Ellie
8      Ali    Max

9

### If Chaos is counted, the only matches remaiing are Ali, Joe and Alasdair to play everyone else.

In [64]:
# Removing Ali to see remaining mus:
# Note: This should be an empty dataframe, since removing them means that all matches would be complete.
chaos_rem_mus[(chaos_rem_mus[0]!=("Ali")) & 
              (chaos_rem_mus[1]!=("Ali"))]

KeyError: 0